//style guide colors
$black: #323232;
$blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;
$dark-black: #000000;
$dark-blue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//primary colours
$text-color: #323232;
$cta-color: #0095ff;
$secondary-text-color: #afafaf;
$label-color: #afafaf;
$main-background-color: #fafafa;

//secondary colours:
$video-player-color: #000000;
$cta-hover-color: #0065ad;
$divider-color: #e1e1e1;
$form-field-color: #fafafa;
