@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colours" as *;

.comments {
  &__container {
    display: flex;

    border-top: 1px solid $divider-color;
    padding: 1rem;
  }

  &__image-placeholder {
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    background-color: $divider-color;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__section--right {
    width: 100%;
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    color: $secondary-text-color;
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 1rem;
  }

  &__like-buttons {
    background-color: transparent;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__trash-button {
    background-image: url("../../assets/Icons/delete_black_24dp.svg");
    height: 1.4rem;
    width: 1.2rem;
    font-weight: 900;
    background-repeat: no-repeat;
    border-style: none;
    background-color: transparent;
    opacity: 30%;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 60%;
    }
  }

  &__like-icon {
    background-image: url("../../assets/Icons/likes.svg");
    height: 1.5rem;
    width: 1.5rem;
    background-repeat: no-repeat;
    border-style: none;
    background-color: transparent;
    opacity: 75%;
    cursor: pointer;
    transform: translateY(0.25rem);

    &:hover {
      background-image: url("../../assets/Icons/likes-hover.svg");
      opacity: 65%;
    }
  }

  &__like-counter {
    transform: translateY(0.0625rem);
    padding: 0rem 0.5rem;
    color: silver;
  }
}
