@use "./styles/partials/mixins" as *;

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
