@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/breakpoints" as *;

.desktop {
  @include desktop {
    display: flex;
    justify-content: center;
    padding: 0rem 2rem;
    max-width: 1280px;
  }

  &__left-container {
    max-width: 750px;

    @include desktop {
      max-width: 1280px;
      border-right: 1px solid $divider-color;
    }
  }
}
